*{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 12px;
}

.container{
    width: 250px;
    height: 250px;
    position: relative;
    background-image: url(https://vnn-imgs-a1.vgcloud.vn/icdn.dantri.com.vn/2021/05/08/kimoanh-851-1620472406599.jpeg);
    background-size: cover;
}

.text{
    position: absolute;
    bottom : 32px;
    left : 12px;
}

.linking{
    position: absolute;
    bottom : 4px;
    left : 12px;
}
